<div class="row">
    <div class="col-12 col-md-5 bg-orange p-5 order-2 order-md-1">
        <h3 class="text-white line-height">ING Mortgage Loan</h3>
        <h5 class="text-white line-height">Your dream home with a loan made to measure</h5><br>
        <h5 class="text-white line-height">Buying a home is a big step in your life, with the ING Mortgage Loan you get
            advice and a tailor-made loan</h5>
        <!-- <button class="btn btn-light btn-lg text-orange mt-4">Read More</button> -->
    </div>
    <div class="col-12 col-md-7 border p-5 order-1 order-md-2">
        <h3 class="text-orange mb-4 line-height">LOGIN WITH EXISTING LOAN ACCOUNT</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label class="text-muted" for="emailId">EMAIL ID <span class="required">*</span></label>
                <input type="email" class="form-control" formControlName="emailId">
            </div>
            <div class="form-group">
                <label class="text-muted" for="emailId">PASSWORD <span class="required">*</span></label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <app-alert *ngIf="submitted && !loginForm.valid" type="danger" message="Email Id or Password is not valid">
            </app-alert>
            <div class="form-group mt-4">
                <input type="submit" class="btn btn-orange text-white btn-lg mr-2" value="Login">
                <input type="button" class="btn btn-gray btn-lg" value="Forgot Password?">
            </div>
        </form>
    </div>
</div>