<div class="row">
    <div class="col-8">
        <div *ngIf="loans">
            <h5 class="text-muted  mb-3">LOAN ACCOUNT DETAILS</h5>
            <form [formGroup]="form" (ngSubmit)="onGetLoanDetails()">
                <div class="form-inline p-0">
                    <div class="input-group col-6 pl-0">
                        <select class="form-control" formControlName="loanNo">
                            <option value="">- Select -</option>
                            <option *ngFor="let loan of loans" [value]="loan.loanId">{{loan.loanAccountNo}}
                            </option>
                        </select>
                    </div>
                    <div class="input-group">
                        <input type="submit" class="btn btn-dark" value="Submit" [disabled]="!form.valid">
                    </div>
                </div>
            </form>

            <div *ngIf="loanDetails">
                <h3 class="text-muted h4 my-4">Loan Details</h3>
                <app-dynamic-table [datas]="loanDetails"></app-dynamic-table>
            </div>
        </div>
        <div *ngIf="!loans">
            Loans are not available
        </div>
    </div>
</div>